.content-pannel3-search{margin: 12px auto;background: #ebecec;height: 30px;width: 90%;border-radius: 30px;position: relative;}
#search{width: calc(100% - 60px);font-size: 14px;color: #333;line-height: 30px;margin-left: 24px;outline: none;border: none;background: transparent;cursor: text;}
.icon-search{position: absolute;top: 0;height: 12px;width: 12px;margin-top: 9px;fill: #999999;margin-left: 8px}
.icon-closed{position: absolute;top: 0;height: 12px;width: 12px;margin-top: 9px;fill: #999999;margin-left: 8px}
.history > ol > li{display: flex;width: 90%;margin-left: 7%}
.icon-lishi{display: inline-block;width: 12px;height: 12px;vertical-align: middle;margin-top: 12px;margin-right: 10px;}
.history-Info{flex-grow: 1;}
.lishi-name{width: calc(80%);font-size: 12px;margin-top: 12px;}
.icon-clear{display: inline-block;width: 12px;height: 12px;vertical-align: middle;fill: #999;position: relative;top: 12px;right: 0;}